@{
    ViewData["Title"] = "Votação";
}

<div class="text-center">
    <h1 class="display-4">Tela de Votação</h1>
    <p>Aqui você verá os candidatos para os cargos da eleição.</p>
    <p>Esta página será desenvolvida na próxima etapa.</p>
</div>
